# Introduction to Python

There are four collection data types in the Python programming language:
1. List : ordered and changeable. Allows duplicate members.
2. Tuple : ordered and unchangeable. Allows duplicate members.
3. Set : unordered and changeable. No duplicate members.
4. Dictionary: unordered, changeable. No duplicate members.

# 1. List 

- List is a collection which is ordered and changeable means it's a mutable type data-structure.  Mutable means the elements inside a list can be changed!

- Lists are constructed with brackets [] and commas separating every element in the list.
- There is no limitation on data type - a list can store integer, string, boolean and so on.

In [4]:
#creating a list

thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [5]:
# creating a list which holds various other data-types

my_list = ['A string',23,100.232,'o']
my_list

['A string', 23, 100.232, 'o']

In [6]:
#length of list

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

### Indexing and Slicing


- Indexing: for accessing particular elements from list using index values 
- Slicing: for accessing some part of list

In [7]:
#Access items 
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [8]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [9]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])     # slicing

['cherry', 'orange', 'kiwi']

In [10]:
# Grab everything UP TO index 4

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [11]:
# Grab index 3 and everything past it

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[3:])

['orange', 'kiwi', 'melon', 'mango']

In [12]:
# Concatination in list or joining two lists

# We can also use "+" to concatenate lists.

thislist1 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

thislist1 + ['new item',5]

['apple',
 'banana',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'new item',
 5]

But this actually does not change the original list:

To make the changes in the original list we have to reassign the list

In [ ]:
thislist1

In [13]:
thislist1 = thislist1 + ['new item',5]
print(thislist1)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'new item', 5]

In [14]:
#Loop Through a List

thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

### List built-in methods

In [15]:
#add item in the list using append() method.

thislist = ["apple", "banana", "cherry"]

thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [16]:
#add item in the list using insert() method at specified location.


thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [17]:
#remove item from list.

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [19]:
#remove item from specified location in list.

thislist = ["apple", "banana", "cherry"]
thislist.pop()
#thislist.pop(1)
print(thislist)

['apple', 'banana']

In [20]:
#clear method make list empty.

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [21]:
#copy a list
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [22]:
#list() constructor to make a new list.

# If no argument is given, the constructor creates a new empty list

#thislist = list()

#Here it creates a list from a tuple.

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

Other built-in methods..


* count()	 Returns the number of elements with the specified value
* index()	 Returns the index of the first element with the specified value
* reverse() Reverses the order of the list
* sort()    Sort the elements

In [28]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

#print(fruits.count('apple'))

#print(fruits.index('banana'))

#print(fruits.index('banana', 4))  # Find next banana starting a position 4

#fruits.reverse()

#fruits.append('grape')

fruits.sort()


print(fruits)

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

In [29]:
help(fruits)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### 2. Tuple
A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [30]:
#create tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [31]:
#access tuple items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [32]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [33]:
#Loop throught a Tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [34]:
#Tuple length
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [35]:
#Add item in tuple.
'''
It will give you error. you can't add items in tuple because it is unchangeable.
'''
thistuple = ("apple", "banana", "cherry")
thistuple[2] = "orange" # This will raise an error
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [37]:
#join two tuple

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple1 = tuple1 + tuple2
print(tuple1)

('a', 'b', 'c', 1, 2, 3)

### 3. Set
A set is a collection which is unordered and changeable. In Python sets are written with curly brackets.

In [43]:
#creating set

thisset = {"apple", "banana", "cherry",'apple'}
print(thisset)

{'banana', 'cherry', 'apple'}

In [1]:
#Access item in a set.
'''
You can't access item in a set by referring to an index, 
since sets are unordered the items has no index.
'''
thisset = {"apple", "banana", "cherry"}
print(thisset[0]) # shows error

TypeError: 'set' object is not subscriptable

In [2]:
for x in thisset:
    print(x)

banana
cherry
apple

In [45]:
#Chagne item add(), update() method.

thisset = {"apple", "banana", "cherry"}

#thisset.add("orange")
thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'apple', 'orange', 'mango', 'grapes', 'cherry', 'banana'}

In [48]:
#remove item using remove() or discard() method.
'''
If the item to remove does not exist, remove() will raise an error.
If the item to remove does not exist, discard() will NOT raise an error.
 
'''

thisset = {"apple", "banana", "cherry"}

#thisset.remove("orange")
thisset.discard("orange")

print(thisset)

{'banana', 'cherry', 'apple'}

In [49]:
#Join two sets using union() or update()
'''
union() method that returns a new set containing all items from both sets.
update() method that inserts all the items from one set into another
'''

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)

#set1.update(set2)
#print(set1)
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

In [77]:
set1 = {"a", "b" , "c"}
help(set1)

Help on set object:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## 4. Dictionary

A dictionary is a collection which is unordered and changeable. 
In Python dictionaries are written with curly brackets, and they have keys and values.

In [81]:

# Create and print a dictionary:

dict1 = {
  "1": "Ram",
  "Gender": "Male",
  "year": 1998
}
print(dict1)

{'1': 'Ram', 'Gender': 'Male', 'year': 1998}

In [79]:
dict1[0]

KeyError: 0

In [3]:
dict2 = dict(name="Ford", Gender="Male", year=1964)
dict2
# help(dict2)

{'name': 'Ford', 'Gender': 'Male', 'year': 1964}

In [82]:
#Accessing Items
#x = dict1["1"]
x = dict1.get("year")
print(x)

1998

In [83]:
# Change Values

dict1["year"] = 2020

dict1

{'1': 'Ram', 'Gender': 'Male', 'year': 2020}

In [84]:
# update value

dict1.update({'year':50})
print(dict1)

{'1': 'Ram', 'Gender': 'Male', 'year': 50}

In [71]:
# Loop Through a Dictionary

# Print all key names in the dictionary:

for x in dict1:
  print(x)

1
Gender
year

In [72]:
# Print all values in the dictionary, one by one:

for x in dict1:
  print(dict1[x])

Ram
Male
50

In [73]:
# Method to return tuples of all items.

# dict1.items()

# print both key and value

for x, y in dict1.items():
  print(x, y)

1 Ram
Gender Male
year 50

In [85]:
#Adding Items

dict1["Age"] = 25

print(dict1)

{'1': 'Ram', 'Gender': 'Male', 'year': 50, 'Age': 25}

In [76]:
#Removing Items

dict1.pop("Gender")

#dict1.popitem()

#del dict1["Age"]

dict1

{'1': 'Ram', 'year': 50}

In [86]:
# removing elements

dict1

{'1': 'Ram', 'Gender': 'Male', 'year': 50, 'Age': 25}

In [87]:
dict1.popitem()

('Age', 25)

In [88]:
dict1

{'1': 'Ram', 'Gender': 'Male', 'year': 50}

In [89]:
dict1.pop("Gender")

'Male'

In [90]:
dict1

{'1': 'Ram', 'year': 50}

In [63]:
dict1.clear()
print(dict1)

{}

In [92]:
# Nested Dictionaries

#Create a dictionary that contain three dictionaries:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

# Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)
print(myfamily['child1']['year'])

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
2004

In [96]:
### Summary

Scores={"Sachin":100, "Dhoni":52}

print(Scores)

Scores["Sachin"]+=6

print(Scores["Sachin"])

Scores["Kapil"]=80

print(Scores)

print(type(Scores.keys()))

print(Scores.values())

print(Scores.items())

{'Sachin': 100, 'Dhoni': 52}
106
{'Sachin': 106, 'Dhoni': 52, 'Kapil': 80}
<class 'dict_keys'>
dict_values([106, 52, 80])
dict_items([('Sachin', 106), ('Dhoni', 52), ('Kapil', 80)])

In [94]:
s=str(Scores)
print(type(s))

for player in Scores.keys():
    print (player,Scores[player])
Scores.get("Sachin")
newscores=Scores.copy()
newscores["Sehwag"]=40
Scores.clear()
print(Scores)

<class 'str'>
Sachin 106
Dhoni 52
Kapil 80
{}